
<div class="custom-container">
  <div class="cardy">
    <% if @users_with_conversation.empty? %>
      <h3>You don't have any conversations yet</h3>
    <% else %>
      <h3>My Conversations</h3>
      <% @users_with_conversation.each do |user| %>
        <%= link_to user_messages_path(user) do %>
          <p>Conversation with <%= user.first_name %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
