:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
}

.filterlist {
display: flex;
  flex-wrap: wrap;
}

.textfilter {
  align-self: center;
}

.filters {
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.filter {
  display: flex;
  height: fit-content;
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  align-items: center;
  /*border-left: none;*/
  margin-left: 20px;
  padding-right: 20px;
}

.filter span {
  padding-left: 12px;
}

.filter:hover {
  color: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
}

.iconfilter {
  background-color: var(--light-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  right: 1px;
}

.iconfilter i {
  margin: auto;
  color: var(--blue);
}

.flex {
  display: flex;
}
