.navbar {
  background-color: #f9f9f9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rocket {
  font-size: 48px;
  color: #002147;
}

.navbar-mooveas {
  color: #002147;
  font-family: 'Cherry Bomb One', cursive;
  font-size: 48px;
}

.avatar img {
  border-radius: 50px;
  width: 70px;
  height: 100%;
}


.links a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.links a:hover {
  color: #555;
}

footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #555;
}
