<div class="custom-container">
    <div class="card-trip">
      <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
      <div class="card-trip-infos">
        <div>
          <h2>Batmobile</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
        </div>
        <h2 class="card-trip-pricing">100€/jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://m1.quebecormedia.com/emp/emp/7155262a7f8ea77-a742-4b0e-b949-11396fee9ad9_ORIGINAL.jpg?impolicy=crop-resize&x=0&y=0&w=2000&h=2000&width=925"/>
      <div class="card-trip-infos">
        <div>
          <h2>Kart de Mario</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
        </div>
        <h2 class="card-trip-pricing">100€/jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://cdn-s-www.ledauphine.com/images/5EFA2BDE-CFD5-488E-BE48-E5CE8CE40751/NW_detail_M/k2000-ou-kitt-la-voiture-qui-roule-toute-seule-la-premiere-voiture-autonome-de-l-histoire-dont-on-dira-qu-elle-etait-plus-intelligente-que-son-pilote-photo-universal-1655990628.jpg"/>
      <div class="card-trip-infos">
        <div>
          <h2></h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
        </div>
        <h2 class="card-trip-pricing">100€/jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
      <div class="card-trip">
        <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Batmobile</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
          </div>
          <h2 class="card-trip-pricing">100€/jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
    <div class="card-trip">
        <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Batmobile</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
          </div>
          <h2 class="card-trip-pricing">100€/jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
    <div class="card-trip">
        <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Batmobile</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
          </div>
          <h2 class="card-trip-pricing">100€/jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
    <div class="card-trip">
        <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Batmobile</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
          </div>
          <h2 class="card-trip-pricing">100€/jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
    <div class="card-trip">
        <img src="https://i.gaw.to/content/photos/55/23/552370-la-batmobile-des-premiers-films-batman-est-a-vendre.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Batmobile</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit...!</p>
          </div>
          <h2 class="card-trip-pricing">100€/jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
</div>
