<div class="footer">
  <div class="footer-links text-secondary">
    <a href="#">© 2023 Movease |</a>
    <a href="#">Confidentialité |</a>
    <a href="#">Conditions Générales |</a>
    <a href="#"><i class="fab fa-instagram"></i></a>
     <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright text-dark">
    Voyagez à la vitesse de la lumière <i class="fa-solid fa-rocket"></i>
  </div>
</div>
