<footer>
  <div class="footer-links">
      <span class="footer-text">"To Infinity and Beyond!"<em>Buzz Lightyear</em> </span>
  <div>
    <a href="#"><i class="fa-solid fa-spider"></i></a>
    <a href="#"><i class="fa-solid fa-bolt"></i></a>
    <a href="#"><i class="fa-solid fa-meteor"></i></a>
      </div>
    <div class="footer-text-container">
      <span class="footer-text">Made with <i class="fas fa-heart"></i></span>
    </div>
  </div>
</footer>
