<footer>
  <div class="footer-links">
      <span class="footer-text">"J'ai plus de banane Luiggi". <em>Mario</em> </span>
  <div>
    <a href="#"><i class="fa-solid fa-spider"></i></a>
    <a href="#"><i class="fa-solid fa-bolt"></i></a>
    <a href="#"><i class="fa-solid fa-meteor"></i></a>
      </div>
    <div class="footer-text-container">
      <span class="footer-text">"Vers l'infini et l'au-delà!" Buzz l'Éclair</span>
    </div>
  </div>
</footer>
