
<div class="container">
      <div id="vehicules">
        <% if @vehicules.any? %>
          <%= render 'card', vehicules: @vehicules %>
        <% else %>
          <em>Sorry, no vehicules found.</em>
        <% end %>
      </div>
</div>
