<%= render 'navbar' %>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3041347/pexels-photo-3041347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="container">
      <h1>Moveas vous <strong>fait voyager</strong> avec <strong>vos héros préférés </strong>!</h1>
      <p>N'avez vous jamais rêvé de parcourir le monde à la vitesse de la lumière ?</p>
      <a class="btn btn-flat" href="#">Se connecter</a>
    </div>
  </div>
<div class="filters flex">
                    <div class="textfilter">Filtres</div>
                    <div class="filterlist flex">
                         <div class="filter flex">
                              <div class="iconfilter flex">
                                   <i class="fa-solid fa-jet-fighter"></i>
                              </div>
                              <span>Aerien</span>
                         </div>
                         <div class="filter flex">
                              <div class="iconfilter flex">
                                   <i class="fa-solid fa-car-side"></i>
                              </div>
                              <span>Terrestre</span>
                         </div>
                         <div class="filter flex">
                              <div class="iconfilter flex">
                                   <i class="fa-solid fa-anchor"></i>
                              </div>
                              <span>Maritime</span>
                         </div>
                         <div class="filter flex">
                              <div class="iconfilter flex">
                                  <i class="fa-regular fa-hand-spock"></i>
                              </div>
                              <span>Multi-tache</span>
                         </div>

                    </div>

               </div>

</div>
  <div class="custom-container">
  <%= render 'card' %>
  </div>


<%# <%= link_to 'Mon profil',  %>
<%= render 'footer' %>
