<div class="custom-container">
  <div class="cardy">
    <div class="form-wrapper">
      <h2>Réserve ton véhicule préféré</h2>
      <%= simple_form_for([@vehicule, @reservation]) do |f| %>
        <%= f.input :date, as: :date, input_html: { id: "range_start" } %>
        <%= f.button :submit, "reservation", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
