<<<<<<< HEAD
<h1>Merci pour votre réservation</h1>

=======
<div class="container">
<div class="row">
<div class="col">
<h1>merci pour la réservation</h1>
<div>
<%= @reservation.vehicule.name %>
</div>
<%= @reservation.date %>
</div>
</div>
</div>
>>>>>>> 9d2f8ac5fa719a717a68d632f7c207a39f36d402
