.card-vehicule {
  border-radius: 16px;
  margin: auto 8px;
  width: 320px;
  height: 420px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vehicule > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-vehicule h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vehicule p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-vehicule .card-vehicule-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-vehicule-infos .card-vehicule-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
