.card-vehicule {
  border-radius: 16px;
  margin: 32px;
  width: 320px;
  height: 420px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vehicule > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-vehicule h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-vehicule p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-vehicule .card-vehicule-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-vehicule-infos .card-vehicule-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.card-description {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

    p{
      color: rgb(66, 65, 65);
      font-size: 14px;
    }


    h2{
      font-size: 18px;
    }
}

.price-category {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  h3{
    font-size: 16px;
  }
}

.reservate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
