.card-vehicule {
  border-radius: 16px;
  width: 300px;
  height: 420px;
  overflow: hidden;
  background: rgb(91, 130, 208);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.5s ease-in-out;
  color: white;

  &:hover {
    transform: translateY(-5px); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

.reservate {
  background-color: rgba(80, 76, 76, 0.601);
}

.card-vehicule > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-vehicule h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-vehicule p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-vehicule .card-vehicule-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-vehicule-infos .card-vehicule-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.card-description {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

    p{
      color: rgb(66, 65, 65);
      font-size: 14px;
    }


    h2{
      font-size: 18px;
    }
}

.price-category {
  padding: 0px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  h3{
    font-size: 16px;
  }
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

@media (max-width: 1354px) {
  .card-vehicule {
    width: 300px;
  }
}

@media (max-width: 1280px) {
  .card-vehicule {
    width: 280px;
    height: 400px;
  }
}
