
.custom-container {
  width: 80%;
  margin: 16px auto;
  background-color: #e2dfdf;
  border-radius: 32px;
  overflow: hidden;
  // border: solid 3px red;
  padding: 32px;

  .custom-grid-index {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    min-height: 54vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // border: solid 3px rgb(0, 255, 68);

  }
}
.container-filter {
  width: 80%;
  margin: 16px auto;
  background-color: white;
  border-radius: 32px;
  overflow: hidden;
}

@media (max-width: 1227px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .custom-container {
    width: 85%;

    .custom-grid-index {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .custom-container {
    .custom-grid-index {
      justify-content: center;
    }
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .custom-container {
    width: 90%;

    .custom-grid-index {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .custom-container {
    width: 95%;

    .custom-grid-index {
      grid-template-columns: repeat(1, 1fr);

      .card-vehicule {

        p {
          display: none;
        }

        .card-vehicule-pricing {
          margin-top: 8px;
        }
      }
    }
  }
}
