/* Footer */
footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 54px;
  width: 100%;
  
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #555;
}

.footer-text {
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: 12px;
}
