.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  border-bottom: 1px solid #c3bdbd;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-mooveas {
  color: #002147;
  font-family: 'Cherry Bomb One', cursive;
  font-size: 48px;
}

.rocket {
  font-size: 48px;
  color: #002147;
}
