.navbar {
  background-color: #F4F4F4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
}

.rocket {
  font-size: 48px;
  color: #002147;
}

.navbar-mooveas {
  color: #002147;
  font-family: 'Cherry Bomb One', cursive;
  font-size: 48px;
}

.avatar img {
  border-radius: 50px;
  width: 70px;
  height: 100%;
}

.custom-rounded {
  border-radius: 50px;
}


.links a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.links a:hover {
  color: #555;
}
