// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #F4F4F4;
}

.custom-container {
  border: solid 5px red;
  width: 80%;
  margin: auto;

  .custom-grid-index {
    gap: 16px;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    min-height: 54vh;
  }
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .custom-container {
    width: 85%;

    .custom-grid-index {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .custom-container {
    width: 90%;

    .custom-grid-index {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .custom-container {
    width: 95%;

    .custom-grid-index {
      grid-template-columns: repeat(1, 1fr);

      .card-vehicule {

        p {
          display: none;
        }

        .card-vehicule-pricing {
          margin-top: 8px;
        }
      }
    }
  }
}
